body .container.body .right_col {
    background: rgb(241, 234, 237);
    /* background: #e5e4fd; */
}

body {
    color: #970536;
    /* color: #241d7a; */
}
.x_title {
    border-bottom: 2px solid rgb(168, 172, 179);
}

.nav_menu {
    /* background: #ffffff; */
    background: rgb(241, 234, 237);
    border-bottom: 1px solid #992d53;
}

/* Table thead */
table.jambo_table thead {
    background: #970536;
}

/* Button */
.btn-primary {
    color: #fff;
    background-color: #970536;
    border-color: #970536;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary:active:focus, .btn-primary:active:hover {
    color: #fff;
    background-color: rgb(173, 69, 116);
    border-color: rgb(173, 69, 116);
}

/* Table */
.x_panel {
    background: rgb(241, 234, 237);
    border: 1px solid #970536;
}

.x_title {
    border-bottom: 1px solid #970536;
}

.panel_toolbox>li>a {
    color: #970536;
}

table.jambo_table tbody tr:hover td {
    /* background: rgba(38,185,154,.07); */
    /* border-top: 1px solid rgba(38,185,154,.11); */
    /* border-bottom: 1px solid rgba(38,185,154,.11); */
    background: white
}

table.jambo_table tbody tr td {
    /* background: rgba(38,185,154,.07); */
    /* border-top: 1px solid rgba(38,185,154,.11); */
    /* border-bottom: 1px solid rgba(38,185,154,.11); */
    background: white;
    background: #fff7f9;
}

/* Line */
.ln_solid {
    border-top: 1px solid #970536;
}

/* Middle Block */
.tile_count .tile_stats_count:before {
    border-left: 2px solid #970536;
}

/* Picture Top */
.toggle {
    width: 30%;
    color: white;
    padding-left: 25px;
    padding-top: 8px;
}

.orgPic{
    width: 190px;
}

.top-img {
    padding-bottom: 10px;
    padding-right: 28px;
}